body {
    background-color:orange;
}

h1 {
    color:yellow;
    background-color:#006400;
text-align:center;
font:cursive;
border:10px solid blue;
padding:5px;
margin:10px;
border-radius: 10px;
font-weight:bold;
}

main{
    text-align:center;

}

img {
    margin: auto;
    width: 50%;
    border: 3px solid yellow;
    border-radius:100px;
    margin-left:300px;
}
ol {
   color:yellow; 
   font-family:cursive;
   position: static;
   border: 7px solid yellow;
   background-color:#9400D3;
   
}

li {
    border:5px solid white;
    margin:10px;
}